body {
  text-align: center;
  background:#ffd1dc ;
}
h1{
  font-family:Sans-serif;
  font-size:50px;
}
h2{
  color:#FF0000;
  font-size:20px;
}
#image{
  height:300px;
  max-width:100%;
}
p{
  font-family:Helvetico
}
#tribute-link
{
  font-size:20px;
}
